*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/edu/bluejack162/matchfinder/fragment/CreateEventFragment.java
app/src/main/java/edu/bluejack162/matchfinder/fragment/ProfileFragment.java
app/src/main/java/edu/bluejack162/matchfinder/activity/CreateEventFragment.java
app/src/main/java/edu/bluejack162/matchfinder/activity/CreateEventFragment.java
app/src/main/java/edu/bluejack162/matchfinder/activity/CreateEventFragment.java
app/src/main/res/layout/fragment_create_event.xml
app/src/main/res/layout/fragment_create_event.xml
app/src/main/java/edu/bluejack162/matchfinder/activity/CreateEventFragment.java
app/src/main/res/layout/fragment_create_event.xml
app/src/main/java/edu/bluejack162/matchfinder/ProfileFragment.java
app/src/main/res/layout/fragment_profile.xml
*.xml
